<div class="container">

    <div class="panel-body">
        <select ng-options="color.text for color in colors track by color.class" ng-model="selectedColor" ng-change="changeColor()"></select>
        <br>
        <span class="lead" ng-class="selectedClass">Some text</span>
    </div>

    <div>
        <p>Filter by: <input type="text" ng-model="searchText"></p>
        <p>Order by:  <input type="text" ng-model="orderByText"></p>
    </div>

    <div>
        <h4>Available colors:</h4>
        <p ng-repeat="color in colors | filter:searchText | orderBy: orderByText">{{color.text}}</p>
    </div>

</div>