<div class="container">

    <ng-form name="exampleForm">
        <input name="input" ng-model="userType" required>

        <p class="lead">userType = {{userType}}</p>

        <span class="lead" ng-show="exampleForm.input.$error.required">Input required!</span>

        <table class="table table-striped">
            <tr>
                <th>Property</th>
                <th>Form Property Value</th>
                <th>Input Property Value</th>
            </tr>

            <tr>
                <td>Pristine</td>
                <td>{{exampleForm.$pristine}}</td>
                <td>{{exampleForm.input.$pristine}}</td>
            </tr>

            <tr>
                <td>Dirty</td>
                <td>{{exampleForm.$dirty}}</td>
                <td>{{exampleForm.input.$dirty}}</td>
            </tr>

            <tr>
                <td>Valid</td>
                <td>{{exampleForm.$valid}}</td>
                <td>{{exampleForm.input.$valid}}</td>
            </tr>

            <tr>
                <td>Invalid</td>
                <td>{{exampleForm.$invalid}}</td>
                <td>{{exampleForm.input.$invalid}}</td>
            </tr>

            <tr>
                <td>Submitted</td>
                <td>{{exampleForm.$submitted}}</td>
                <td>{{exampleForm.input.$submitted}}</td>
            </tr>

            <tr>
                <td>Error</td>
                <td>{{exampleForm.$error}}</td>
                <td>{{exampleForm.input.$error}}</td>
            </tr>
        </table>
    </ng-form>

</div>