<div>
    <div class="lead">
        <p>Number A: <input type="number" ng-model="numberA"></p>
        <p>Number B: <input type="number" ng-model="numberB"></p>

        <p><a class="btn btn-primary btn-sm" role="button" ng-click="calculate()">Calculate</a></p>
    </div>

    <div class="lead">
        <p><strong>Addition:</strong> {{additionResult}} </p>
        <p><strong>Substraction:</strong> {{substractionResult}} </span></p>
        <p><strong>Multiplication:</strong> {{multiplicationResult}} </span></p>
        <p><strong>Division:</strong> {{divisionResult}} </span></p>
    </div>
</div>


